

html {
  scroll-behavior: smooth;
}

.course-hero-section {
    max-width: 100%;
    height: calc(35vh - 60px);
    margin-top: 10rem;
    background-image: url('images/webhero-course-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--white-color);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5rem;
}
.course-hero-text{
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation: hero-animation 0.6s ease forwards;
    animation: hero-animation 0.6s ease forwards;
    color: var(--white-color);
    text-shadow: 1px 1px 1px var(--blue-color);
}

/* Y CHOOSE OUR DIGITAL MARKETING COURCE */
.y-chooseour-dm-course-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}
.y-chooseour-dm-course-heading{
    display: flex;
    justify-content: center;
    text-align: center;
}
.y-chooseour-dm-course-para{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* COURCE CURRICULUM SECTION */
.course-curriculum-container{
    display: grid;
    margin-bottom: 5rem;
}
.course-curriculum-heading{
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.course-curriculum-options-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.option-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 3rem;
    padding-left: clamp(1rem, 5vw, 5rem);
    margin-bottom: 2rem;
}

.what-make-thisisthe-best-heading{
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.what-make-thisisthe-best-options-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}
.second-option-bold{
    font-size: 1.5rem;
    font-size: clamp(1.4rem, 3vw, 2rem);
}
